# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
.vs/config/applicationhost.config
.vs/ProjectSettings.json
.vs/slnx.sqlite
*.suo
.vs/Unscented-Kalman-Filter/v15/Browse.VC.db
*.opendb
.vs/Unscented-Kalman-Filter/v15/ipch/AutoPCH/cfe4772d/MAIN-795cb622/MAIN.ipch
*.ipch
.vs/Unscented-Kalman-Filter/v15/ipch/AutoPCH/cfe4772d/TOOLS-8bb920ae/TOOLS.ipch
build/x86-Debug/ALL_BUILD.vcxproj
*.filters
build/x86-Debug/CMakeCache.txt
*.cmake
build/x86-Debug/CMakeFiles/3.6.20160606-g0391f-MSVC/CompilerIdC/CMakeCCompilerId.c
*.exe
*.vcxproj
build/x86-Debug/CMakeFiles/3.6.20160606-g0391f-MSVC/CompilerIdC/Debug/CMakeCCompilerId.obj
*.tlog
build/x86-Debug/CMakeFiles/3.6.20160606-g0391f-MSVC/CompilerIdCXX/CMakeCXXCompilerId.cpp
*.obj
build/x86-Debug/CMakeFiles/820cdb8fae327d1d295b75a7bf10e71a/generate.stamp.rule
*.check_cache
build/x86-Debug/CMakeFiles/CMakeOutput.log
*.stamp
build/x86-Debug/CMakeFiles/generate.stamp.depend
*.list
build/x86-Debug/CMakeFiles/TargetDirectories.txt
*.ilk
build/x86-Debug/Debug/UnscentedKF.pdb
*.pdb
build/x86-Debug/UnscentedKF.sln
data/output.txt
.vs/VSWorkspaceState.json
data/output-data-1.txt
data/output-data-2.txt
data/output-synthetic-lidar-only.txt
data/output-synthetic-radar-only.txt
data/output-synthetic.txt
data/~$scented Kalman Filter Notes.docx
data/~WRL2252.tmp
